body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
/* Header e footer */
header,
footer {
  color: #fff;
  padding: 0.5rem;
}
header {
  background-image: linear-gradient(#220de4, #65a5f8);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
div#logo {
  margin: auto 0;
  font-size: 2rem;
  margin-bottom:0.5rem;
}
div#logo * {
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.5rem;
}

div#usuarioinfo *,
footer span {
  display: block;
  margin-bottom: 0.5rem;
}
div#usuarioinfo span {
  text-align: right;
  
}
div#usuarioinfo button {

  margin-left: auto;
}

footer {
  background-image: linear-gradient(#220de4, #65a5f8);
  margin-top: auto;
}

/* fim header e footer */
/* NAV */
nav {
  background-color: #383838;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  padding: 1rem;
  display: block;
  color: white;
  text-decoration: none;
}
nav ul li a:hover{
  background-color: #cccc;
  color: #383838;
}
/* dropdown */

 nav div#dropdown_conteudo {
   display: none;
   position:absolute;
   background-color: #383838;
   border: 1px solid white;
  box-shadow: 0 1px 2px;
 }

nav li#dropdown:hover div#dropdown_conteudo {
  display: block;
}
/* fim dropdown  */

@media (max-width: 730px) {

  nav ul li {
    display: block;
    width: 100%;
  }
 
  nav ul div#dropdown_conteudo{
    position: relative;
    border:none;
    box-shadow:none;
  }
}
/* FIM NAV */
/* main */
main {
  background-image: linear-gradient(#ececec, #fff);
  padding: 1rem;
}
/* alerta */
div.alerta {
  display: block;
  border: 1px solid;
  padding: 1rem;
  max-width: 400px;
  margin: 1rem auto;
  word-wrap: break-word;
  position: absolute;
  top: 0.5rem;
  right: 0;
  left : 0;
  box-shadow: 0px 2px 4px 0px black;
  border-radius: 10px;
}
div.alerta span {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}

div.alerta.erro {
    background-color: #f08080;
    color:#630d0d;
    border-color: #5e0202;
}
div.alerta.sucesso {

    background-color: #00ff15;
    color: green; 
    border-color: green;
}
/* fim alerta */
/* table */
table {
  border-spacing: 0.1rem;
  margin: 0.5rem auto;
  width: 100%;
  overflow-x: auto;
  display:block;
}
table th {
  background-color: #003366;
  color: #fff;
}
table th,
table td {
  padding: 0.5rem;
}
table tfoot td {
  text-align: center;
  border-top: 1px solid #003366;
}

table tbody tr:nth-child(odd) {
  background-color: antiquewhite;
}
table tbody tr:nth-child(even) {
  background-color: aliceblue;
}
table tbody tr:hover {
  background-color: #cccc;
}
div#comandos {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.1rem 0.5rem;
  border-bottom: 1px solid #003366;
  align-items: center;
  flex-wrap: wrap;
}
table tbody td:last-child, table td.fit {
  text-align: center;
  width: 1%;
  white-space: nowrap;
}

/* fim table */

/* form */
form {
  margin: auto ;
  text-align: right;
  width: fit-content;
}

div.grid form  {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 0.5rem; 
  margin-bottom: 0.5rem;
}

 label::after{
  content: ":";
}

input:required:invalid,
select:required:invalid{
  border: red solid
}

button, input[type="button"], input[type="submit"]{

  background-color:#2c832d;
  color:#fff;
  border: none;
  border-radius: 4px;
  height: 2rem;
  
}
input,select,textarea {
  height: 2rem;
  box-sizing: border-box;
}
button.excluir {
  background-color: #c42626;
}
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
background-color: #1e5e20;
}
button.excluir:hover:not(:disabled){
  background-color: #811b1b;
}
button:disabled, input[type="button"]:disabled, input[type="submit"]:disabled{

  background-color:#757575;
  color: #cccc;
  cursor: not-allowed;
}

@media screen and (max-width:400) {
 .grid form {
    width:85%;
    align-items: left;
  }

  div.grid form {
    grid-template-columns: 1fr;
  }
 
}

/* fim form */

@media screen and (max-width:430px) {

    div#usuarioinfo{
      margin-top: 1rem;
    }
  div#usuarioinfo span {
    text-align: left;
  }

}

/* fim main */
